<div class= "vh-100 w-100 d-flex flex-column justify-content-center align-items-center" >
  <h2>Sign up</h2>
  <div class= "w-75 align-middle" >
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="field form-floating mt-3">
        <%= f.text_field :name, class: "form-control"%>
        <%= f.label :name, class: "form-label" %>
      </div>
      <%# profile picture upload %>
      <div class="field mt-3">
        <%= f.label :avatar, class: "form-label" %>
        <%= f.file_field :avatar, class: "form-control" %>
      </div>
      <div class="field form-floating mt-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        <%= f.label :email, class: "form-label" %>
      </div>
      <div class="field form-floating mt-3">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <%= f.label :password, class: "form-label"%>
      </div>
      <div class="field form-floating mt-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        <%= f.label :password_confirmation, class: "form-label" %>
      </div>
      <div class="actions mt-3">
        <%= f.submit "Sign up", class: "btn btn-primary mt-2 mb-2 w-100" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
